body {
    font: normal 25pt Arial white;
}
input{
    font: normal 20pt Arial gray;
    background-color: gray;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border-color: gray;
    box-shadow:5px 5px 10px #00000050;
    text-align: center;
    
}
h1{
    font: 25pt;
    text-align: center;
}
h3{
    padding: 2%;
    font: normal 25pt;
    float: left;
}

table, th, tr{
    border: 1px solid gray;
    padding: 2%;
}
th{
    width: 25%;
}
table{
    width:50%;
    position:fixed;
    left:0;
}
.container {
    width: 50%;
    position: fixed;
    right: 0;
}
